@{
    Layout = "_Layout";
    ViewData["Title"] = "Manager";
}

<p><b>Manager area</b></p>

@using (Html.BeginForm(actionName: "GenerateReport", controllerName: "Manager", FormMethod.Post))
{
    <div>   
        <div>
            Отчет: Товары с закончившимся сроком использования.
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Сформировать</button>
    </div>
}