@{
    Layout = "_Layout";
    ViewData["Title"] = "Manager";
}

@if (!string.IsNullOrEmpty(@TempData["ErrorMessage"]?.ToString()))
{
    <div id="alert-message" class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}
else
{
    @if (!string.IsNullOrEmpty(@TempData["Message"]?.ToString()))
    {
        <div id="alert-message" class="alert alert-success" role="alert">@TempData["Message"]</div>
    }
}

@using (Html.BeginForm(actionName: "GenerateReport", controllerName: "Manager", FormMethod.Post))
{
    <div>
        <div class="row">
            <div class="col">
                <b>Отчет:</b> продукты у которых закончится срок годности через
            </div>
            <div class="col">
                <input name="DaysBeforeExpired" type="number" min="1" placeholder="дней">
            </div>
		</div>
        <div class="col">
            <i>
                <input type="checkbox" name="IsConsumePriceFromSupplier"  />
                <label for="IsConsumePriceFromSupplier">Добавить в отчет актуальные цены</label>
            </i>
        </div>    
        <br />
        <button class="btn btn-primary" type="submit">Сформировать</button>
    </div>
}