@{
    Layout = "_Layout";
}

@if (!string.IsNullOrEmpty(@ViewData["Message"]?.ToString()))
{
    <div id="alert-message" class="alert alert-danger" role="alert">@ViewData["Message"]</div>
}

@using (Html.BeginForm(actionName: "ChangePassword", controllerName: "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            Old password:
        </div>
        <div class="col">
            <input name="OldPassword" type="password" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            New password:
        </div>
        <div class="col">
            <input name="Password" type="password" class="form-control">
        </div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </div>
}